<div class="tasks-management-header flex flex-center primary-font-color shadow-drop-bottom main-background-style">
  <div class="title-container">
    <!-- <img src="undefinded" alt="Khang's Icon"> -->

    <span class="title"> <b> TASKS MANAGEMENT </b> </span>
  </div>

  <div class="menus-container flex">

    <ng-container *ngFor="let menu of appMenus; let i = index">
      <span class="menu-box pointer" 
        (click)="navigateTo(menu.paths)">
        {{ menu.label }}
      </span>

      <div class="vertical-divider" *ngIf="i < appMenus.length - 1"></div>
    </ng-container>

  </div>
</div>

<div class="tasks-management-content">
  <router-outlet></router-outlet>
</div>