<div class="main-background-style about-us primary-font-color slide-left">
    <h1 class="text-center"> TECALLIENCE DEMO </h1>

    <p class="text-right"> Powered and Developed By <span> <b> <i> Khang Nguyen </i> </b> </span> </p>

    <div class="about-content">
        <p class="text-justify">
            Hi There! this application is created for Demo Technical. Therefore you can not use these features was provided as normally. 
        </p>

        <p class="text-justify">
            Every contact please kindly to send to my email: khangnguyen0318@gmail.com
        </p>

        <p class="text-justify">
            Connect with My Blog to catch new information <a href="https://akatsukiryu.github.io/khangnguyen.github.io/">Here</a>
        </p>

        <p class="text-justify">
            Just explain a little bit:
        </p>

        <p class="text-justify">
            <b> Front End: </b> are using Angular and Material UI. Because I want to drag and drop, user can order there task and can complete tasks normally as they are.
        </p>

        <p>
            <b> Back end: </b> actually I wrote a backend environment with NodeJs but not publish on cloud yet, therefore I just use the fake API as the confirmed
        </p>
    </div>

</div>
